body{
  margin-bottom: 0;
}

h2 h4{
  font-family: Josefin Sans;
  margin-bottom: 3px;
  padding: 0;
}
h2{
  margin: 4px;
}


.linea {
  width: 50px;
  height: 4px;
  background-color: black;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
}

.morty{
  display: inline-block;
  float: left;
  position: relative;
  width: 200px;
  height: 200px;
}

.dogo{
  display: inline-block;
  float: left;
  position: relative;
  left: 20px;
  width:200px;
  height: 200px;
}

.mr{
  display: inline-block;
  position: relative;
  float: left;
  left: 42px;
  width: 200px;
  height: 200px;
}

.rick{
  display: inline-block;
  position: relative;
  float: left;
  top: 225px;
  right:600px;
  width: 200px;
  height: 200px;
}

.popp{
  display: inline-block;
  position: relative;
  float: left;
  top: 225px;
  right:580px;
  width: 200px;
  height: 200px;
}

.picklerick{
  display: inline-block;
  position: relative;
  float: left;
  top: 225px;
  right: 560px;
  width: 200px;
  height: 200px;
}

.nombre1{
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.nombre2{
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 340px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.nombre3{
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 540px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.nombre4{
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 90px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.nombre5{
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 280px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.nombre6{
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 545px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
